<div class="container">
  <h3>Registered Users</h3>
  
  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
        <th scope="col">Phone</th>
        <th scope="col">DOB</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users()">
        <ng-container *ngIf="editingUserId === user.id; else viewMode">
          <td><input class="form-control" [(ngModel)]="editModel.name" /></td>
          <td><input class="form-control" [(ngModel)]="editModel.email" /></td>
          <td><input class="form-control" [(ngModel)]="editModel.address" /></td>
          <td><input class="form-control" [(ngModel)]="editModel.phone" /></td>
          <td><input class="form-control" [(ngModel)]="editModel.dob" type="date" /></td>
          <td class="btns">
            <button (click)="saveEdit()" class="btn btn-success"><span class="me-1">💾</span> Save</button>
            <button (click)="cancelEdit()" class="btn btn-danger"><span class="me-1">❌</span> Cancel</button>
          </td>
        </ng-container>
  
        <ng-template #viewMode>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.address }}</td>
          <td>{{ user.phone }}</td>
          <td>{{ user.dob }}</td>
          <td class="btns">
            <button (click)="editUser(user)" class="btn btn-success"><span class="me-1">✏️</span> Edit</button>
            <button (click)="deleteUser(user.id)" class="btn btn-danger" ><span class="me-1">🗑</span> Delete</button>
          </td>
        </ng-template>
      </tr>
    </tbody>
  </table>
</div>