<form [formGroup]="form" (ngSubmit)="submit()" class="space-y-4">
  <div *ngFor="let field of config">
    <label>{{ field.label }}</label>
    <input
      [type]="field.type"
      [formControlName]="field.name"
      [placeholder]="field.label"
      class="form-control"
    />
    <div *ngIf="form.get(field.name)?.invalid && form.get(field.name)?.touched" class="error">
      {{ field.label }} is required
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>